<h3>conversion de devise</h3>
montant : <input name="montant" [(ngModel)]="montant" /> <br/>
code devise source : <select name="selCodeDeviseSource" [(ngModel)]="codeDeviseSource" >
    @for(d of listeDevises; track d.code){
        <option>{{d.code}}</option>
    }
</select> <br/>
code devise cible : <select name="selCodeDeviseCible" [(ngModel)]="codeDeviseCible" >
    @for(d of listeDevises; track d.code){
        <option>{{d.code}}</option>
    }
</select> <br/>
<input type="button" id="btnConvertir" (click)="onConvertir()" value="convertir" /> <br/>
 <!-- montantConverti = <span id="spanMontantConverti">{{montantConverti}}</span> -->
  montantConverti = <span id="spanMontantConverti">{{montantConvertiObs$ | async}}</span> <br/>
